# python using jupyter notes

### jupyter cell commands :-

shift + enter -- to excute a cell

esc+y -- to change into code line \
esc+m -- to chnage into markdown line\
esc+r -- to chnage into raw NBconvert

esc + a -- to get new cell above the current cell\
esc + b -- to get new cell below the current cell\
\
\
esc + c -- to create a copy of current cell\
esc + x -- to cut a cell\
\
\
esc + dd -- to delete a cell\
esc + z --undo deleted cell\
\
esc + c ,esc + b --- copy and paste cell below current cell
\
\
esc + o -- if we want to hide the output

#### python keywords :-

predefined and preserved words

first we have to import the build in module

In [1]:
import keyword

we have to use attribute-- kwlist to print keyword

In [2]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)

35

#### python identifiers :-

rules:-\
we cannot use numbers at starting of name function,variable ..\
we cannot use any special character expect underscore (_)\
we cannot use keywords for naming

#### python comments :-

use # to in single line comments\
use ''' or """ to multiple line comments\
use \ to break line or carry on in next line without error

In [4]:
"""
print("hallo")
"""
\
'''
whatever wrote here cannot effect program
'''
print("hi")  #hallo

hi

#### python statements:-

print statements, Assignment statements, Conditional statements, Looping statements.

In [5]:
# two assignment statements in a single
l = 10; b = 5

# print statement 
print('Area of rectangle:', l * b)

Area of rectangle: 50

return statement:   we can return a value from a function when called\
del statement:      is used to delete objects/variables\
import statement:   is used to import modules\
break Statement:    The break statement is used inside the loop to exit out of the loop.\
continue Statement: The continue statement skip the current iteration and move to the next iteration.

looping statements:- \
\
if statement: It is a control flow statement that will execute statements under it if the condition is true. Also kown as a conditional statement.\
\
while statements: The while loop statement repeatedly executes a code block while a particular condition is true.\
for statement: Using for loop statement, we can iterate any sequence or iterable variable. The sequence can be string, list, dictionary, set, or tuple.\
\
try statement: specifies exception handlers.\
\
with statement: Used to cleanup code for a group of statements, while the with statement allows the execution of initialization and finalization code around a block of code.

#### python variable :-

a value is stored in variable when we assign a value to variable \
every variable have some unique identification adddress

use id(variable_name) -- to get the identification address

In [6]:
a=1
b=1
c=a+b
d = "string variable"
e = True #use True never true
print(c)
print(d)
print(e)
print (id(a))
print (id(b))
print (id(c))
print (id(d))
print (id(e))

2
string variable
True
140732947731240
140732947731240
140732947731272
2141291651888
140732946262560

In [7]:

a ,b, c ,d = 2,266,2.11,"string"
print(a)
print(b)
print(c)
print(d)

2
266
2.11
string

#### datatypes:-

integers,float,boolean,string,complex

type(variable_name) -- to get type of variable\
getsizeof(variable_name) -- to get size of variable \
NOTE:- to use getsiseof we have to \
\import sys

In [8]:
import sys #IMP
val1=10
print(val1)
print(type (val1))
print(sys.getsizeof(val1))
print(val1, "is float?",isinstance(val1,float))
print(val1, "is complex?",isinstance(val1,complex))

10
<class 'int'>
28
10 is float? False
10 is complex? False

In [9]:
val2=10.11
print(val2)
print(type (val2))
print(sys.getsizeof(val2))
print(val1, "is float?",isinstance(val2,float))
print(val1, "is complex?",isinstance(val2,complex))

10.11
<class 'float'>
24
10 is float? True
10 is complex? False

day 2:-

In [10]:
val3= 1 + 2j
print(val3)
print(type (val3))
print(sys.getsizeof(val3))
print(val1, "is float?",isinstance(val3,float))
print(val1, "is complex?",isinstance(val3,complex))

(1+2j)
<class 'complex'>
32
10 is float? False
10 is complex? True

In [11]:
b1=True # use capital T,True means 1

In [12]:
b2=False #use capital F

In [13]:
type(b1)

bool

In [14]:
isinstance(b1,int) #bcz True means 1

True

In [15]:
isinstance(b1,float)

False

In [16]:
isinstance(b1,str)

False

In [17]:
isinstance(b1,bool)

True

In [18]:
a = "True"

In [19]:
type(a)

str

In [20]:
print(a)

True

In [21]:
len(a)

4

string indexing:-\
\
string is a collection of elements\

\

str1="ABC"
positive index:-str1[ABC] where str1[0]=A,str1[1]=B.str1[2]=c

In [22]:
str1 = "ABC"

In [23]:
print(str1[0])

A

In [24]:
print(str1[1])

B

In [25]:
print(str1[2])

C

In [26]:
print(str1[1:3])

BC

In [27]:
print(str1[:3])

ABC

In [28]:
print(str1[1:])

BC

In [29]:
print(str1[:])

ABC

negative index:-"ABC" where str1[-3]=A, str1[12]=B, str1[-1]=C

In [30]:
print(str1[-1])

C

In [31]:
print(str1[-3:-1])

AB

In [32]:
print(str1[-2:-1])

B

In [33]:
print(str1[-3:])

ABC

In [34]:
print(str1[:-1])

AB

In [35]:
print(str1[-2],str1[-3])

B A

In [36]:
print(str1[-3],str1[-3:-1],str1[-3:],str1[:-2])

A AB ABC A

slicing :- [starting element:ending element],or [starting element:ending element:step]

In [37]:
str2="ABCD  EFG"

str2="ABCD  EFG" \
where str2[0]=A,str2[1]=B,str2[2]=C ,str2[3]=D ,str1[4]= ,str2[5]= ,str1[6]=E,str=[7]=F,str2[8]=G \
str2[-1]=G,str2[-2]=F ,str2[-3]=E ,str1[-4]= ,str2[-5]= ,str2[-6]=D,str=[-7]=C,str2[-8]=B ,str2[-9]=A

In [38]:
print(len(str2))

9

In [39]:
print(str2[0:9:2])

AC EG

In [40]:
print(str2[-1::-1])

GFE  DCBA

In [41]:
print(str2[-9::1])

ABCD  EFG

In [42]:
str3="data is new fuel"

In [43]:
print(str3[7:11],str3[0:4])

 new data

Update & delete string

In [44]:
str4="ABC"

In [45]:
print(str4)

ABC

In [46]:
# str1[0:]='abc' #  we cannot replace/immuttable string but we can assign a new value to string

In [47]:
str5= str4.replace('A','Z')

In [48]:
print(str5) #here we are replace a string to new string

ZBC

In [49]:
print(str4)

ABC

In [50]:
a=5
a

5

In [51]:
a = 'abc'

In [52]:
a = a.replace('a','z') # here we are assign a new value to a

In [53]:
print(a)

zbc

In [54]:
'data'+'science'

'datascience'

In [55]:
1+2

3

In [56]:
'1'+'2'

'12'

In [57]:
s1='data'
s2='science'
s3=s1+s2

In [58]:
s3

'datascience'

In [59]:
s1='data'
s2='science'
s3=s1+' ' +s2+ " team"

In [60]:
s3

'data science team'

%who :- is used to show the variables created

In [61]:
%who

a	 b	 b1	 b2	 c	 d	 e	 keyword	 l
s1	 s2	 s3	 str1	 str2	 str3	 str4	 str5	 sys
val1	 val2	 val3

In [62]:
'data'in s3 #in is used check

True

In [63]:
'Data'in s3 #case sensitive

False

day 3:-

#### string functions

string partition:- search for a specific element and splits into 3 elemnts or parts

In [64]:
sentence="first element second element third element"

In [65]:
L=sentence.partition('second element')

In [66]:
L

('first element ', 'second element', ' third element')

In [67]:
type(L)

tuple

tuple means a datastructure

In [68]:
sentence.count('e')#counts NO OF elements in a string

10

In [69]:
str6 = " abc def ghi "

In [70]:
str6.strip() # remove white space at begining and end

'abc def ghi'

In [71]:
str6.rstrip()# removes white space at rightside /begining

' abc def ghi'

In [72]:
str6.lstrip() #removes white space at leftside/ending

'abc def ghi '

lower and upper function:-converts case

In [73]:
str6.upper()

' ABC DEF GHI '

In [74]:
str6.lower()

' abc def ghi '

startswith()-used to check whether the string startswith the required

endswith();-used to check whether the string endswith the required

In [75]:
str6.startswith('a')

False

In [76]:
str6.startswith(' ')

True

In [77]:
str6.endswith(' ')

True

split():- returns a list as output \
list is data structure

In [78]:
print(str6.split())

['abc', 'def', 'ghi']

In [79]:
print(str6.split('def'))

[' abc ', ' ghi ']

In [80]:
str7="apple banana orange jack apple pineapple guava apple mango #"

In [81]:
print(str7.split('apple'))

['', ' banana orange jack ', ' pine', ' guava ', ' mango #']

In [82]:
print(str7.split('#'))

['apple banana orange jack apple pineapple guava apple mango ', '']

format fuction:- will place the value of the given variable into place holder'{}'

In [83]:
a=1
b=2
c=3

In [84]:
print("the value in order a is {} ,b is {} & c is {} ".format(a,b,c))

the value in order a is 1 ,b is 2 & c is 3

In [85]:
print("the value in order b is {} ,a is {} & c is {} ".format(b,a,c))

the value in order b is 2 ,a is 1 & c is 3

In [86]:
print("the value in order a is {2} ,b is {1} & c is {0} ".format(c,b,a)) \
#where{0},{1},{2} are indexes

the value in order a is 1 ,b is 2 & c is 3

In [87]:
print(" last string is {}".format(str6))

 last string is  abc def ghi

typecasting-typeconverting :-converting one data type into another

autotypecasting:-converts automatically into single datatype in a hirachy (S>F>C>I>B) \
only lower to higher \
string > float > complex > int > bool(S>F>C>I>B)

In [88]:
4 + 5.6 +False + True #(S>F>C>I>B)

10.6

In [89]:
4 + 5.6 + 5j  + True

(10.6+5j)

forced typecasting:- we convert lower to higher and higher to lower also

In [90]:
a=1.23

In [91]:
type(a)

float

In [92]:
b= int(a)#higher to lower ((S>F>C>I>B))
b

1

In [93]:
c= complex(a) #(S>F>C>I>B)
c

(1.23+0j)

In [94]:
d= str(a) #(S>F>C>I>B)
d

'1.23'

In [95]:
e= bool(a)
e

True

In [96]:
bool("")

False

In [97]:
bool(" ") 
#if there is any value expect 0 or null is True

True

In [98]:
bool('0')

True

In [99]:
bool(0)

False

In [100]:
bool(-1)

True

In [101]:
int("5")

5

#int('five') \
we cannot convert alphabets into numbers

In [102]:
float(False)

0.0

In [103]:
int(5.6)+float(1)+bool(23)+1.0 # both auto and forced typecasting

8.0

In [104]:
str(True)

'True'

## operators:-

arthmetic operators:- + ,-,*,/,%,**,//

In [105]:
a=5
b=25
#addition
c=a+b
c

30

In [106]:
#concatenate

In [107]:
str8=str6+str7
str8

' abc def ghi apple banana orange jack apple pineapple guava apple mango #'

In [108]:
#substraction

c=a-b
c

-20

In [109]:
#multiplication
c=a*b
c

125

In [110]:
#power
c=b**a
c

9765625

In [111]:
#division
c= b/a #25/5
c #prints qoutient

5.0

In [112]:
c = a% b #5/25
c #print reminder

5

In [113]:
c = b//a #25/5 
c # print qoutient(whole number)

5

comparison operator:- > , < , >= , <= , == , !=

In [114]:
a=1
b=2
print(a>b) #greater than
print(a<b) #lesser than
print(a>=b) #greater than or equal to
print(a<=b) #lesser than or equal to

False
True
False
True

In [115]:
print(a==b)# equal to 
print(a!=b)# NOT equal to

False
True

In [116]:
str6 > str7

False

In [117]:
ord('a') 
#to find ascii value of a charecter

97

In [118]:
ord('b')

98

In [119]:
a>b

False

In [120]:
a='abc'
b='ABC'
a==b

False

logical operators:-\
and : when both conditionbecom true then the statement will true 

or  : if any condition use become true then the statement will true 

not : the is not True

In [121]:
a>b and b>a
#if both

False

In [122]:
a>b or b>a
#if any

True

In [123]:
a>b

True

In [124]:
not a>b

False

day 4:-

Bitwise operation

In [125]:
x=18
y=6
print('bitwise AND operation - {}'.format(x&y))
print('bitwise OR operstion - {}'.format(x|y))

bitwise AND operation - 2
bitwise OR operstion - 22

In [126]:
x&y
# x-100010 
# y-00110 
# = 00010

2

#### conditional statements
if statement:-

intentetion:- 4 white spaces or 1 tap \
it is importent to use proper intentetion while doing the condtional statements

syntax \
if condition: \
[intentetion]statement()

In [136]:
x=4
if x==4:
    print('x is equal to 4')
print('end ')

x is equal to 4
end

In [148]:
x=4
if x==4: 
    print('x is equal to 4') #if the condition is True 
else :
    print('end  ') #if the condition is False

x is equal to 4

if(condition):\
[intentetion]statement\

else: \
    statement

In [146]:
x=3
if x==4:
    print('x is equal to 4')
elif x==3:
    print('x is equal to 3 ')
else :
    print('end ')

x is equal to 3

if(condition):
    statement
elif(condition):
    statement
elif(condition):
    statement
else:
    statement

In [145]:
x=2
if x==4:
    print('x is equal to 4')
# print if condition is True
elif x==3:
    print('x is equal to 3 ') 
# print if previous condition is false and current condition is true 
elif x==2:
    print('x is equal to 2 ')
# print if previous condition is false and current condition is true 
elif x==1:
    print('x is equal to 1 ')
# print if previous condition is false and current condition is true 
elif x==0:
    print('x is equal to 0 ')
# print if previous condition is false and current condition is true 
else :
    print(' x not equal to 1,2,3,4')
# print if all previous conditions is False

x is equal to 2

nested if loop :- \
if(condition): \
\    statement \
\    if(condition):
\        statement
\        if(condition):
\            statement

In [157]:
x=3
if(x>1):
    print('iam in 1st if')
    if(x>2):
        print('iam in 2nd if') 
        #print if previous condition is true and current condition is true 
        if(x>3):
            print('iam in 3rd if')
            #print if previous condition is true and current condition is true 
            if(x>4):
                print('iam in 4st if')
                #print if previous condition is true and current condition is true 
else :
    print('iam in else ')

iam in 1st if
iam in 2nd if

In [159]:
x=3
if(x>1):
    print('iam in 1st if')
    if(x>5):
        print('iam in 2nd if') 
        #print if previous condition is true and current condition is true 
    if(x>4):
        print('iam in 3rd if')
            #print if previous condition is true and current condition is true 
    if(x>3):
        print('iam in 4st if')
                #print if previous condition is true and current condition is true 
else :
    print('iam in else ')

iam in 1st if

input():- used to input values from user

In [160]:
a=input("enter a number ")
#input function can only input string values

enter a number2

In [166]:
print(a)

2

In [162]:
type(a)

str

In [168]:
b=int(input("enter a number "))
#in order to use input function to input another data type we need to do forced typecasting

enter a number2

In [167]:
print(b)

2

In [165]:
type(b)

int

In [171]:
x = int(input('enter any number'))
if x>0:
    print('x is +ve')
elif x<0:
    print('x is -ve')
else :
    print('x is zero')

enter any number-5
x is -

In [173]:
x = int(input('enter any number'))
y = int(input('enter any number'))
if x==y:
    print('x is equal to y')
elif x<y:
    print('x is lesser than y')
else :
    print('x is greater than y') 
if x>0:
    print('x is +ve')
elif x<0:
    print('x is -ve')
else :
    print('x is zero')
if y>0:
    print('y is +ve')
elif y<0:
    print('y is -ve')
else :
    print('y is zero')

enter any number1
enter any number2
x is lesser than y
x is +ve
y is +ve

## pythons packages

software which holds certain functionalities 
packeges is collection of modules(python file) \
modules are collections of submodules(contains functions for a task )\
submodules are collection of function(code for a specific task)\
each funtions contain certain artibutes (specific value)

contain modules and submodules \
eg,
 -    from datetime import date

#### datetime packeges
contain modules related to time and date
eg,
- date,time,datetime,timedelta

In [178]:
from datetime import date
d= date(2023,7,5) # atributes(year,month,day)

In [177]:
print(d)

2023-07-05

In [176]:
type(d)

datetime.date

In [179]:
d

datetime.date(2023, 7, 5)

In [180]:
d.day

5

In [181]:
d.month

7

In [182]:
d.year

2023

In [183]:
#for getting current date use 
#date.today()
print("today is ",date.today())

today is  2023-09-21

In [184]:
today1=date.today()

In [187]:
today1.isoweekday()#monday=1,tuesday is 2,....

4

In [188]:
from datetime import datetime as dt

In [189]:
a=dt.now()

In [ ]:
a.yer