# What is Jupyter  Notebook
* The Jupyter Notebook is an open-source web application that allows data scientists to create and share documents that           integrate live code, equations, computational output, visualizations, and other multimedia resources,

* Uses include data cleaning and transformation, numerical simulation, statistical modeling, data visualization, machine         learning, and much more.

### jupyter cell commands :-

shift + enter -- to excute a cell

esc+y -- to change into code line \
esc+m -- to chnage into markdown line\
esc+r -- to chnage into raw NBconvert

esc + a -- to get new cell above the current cell\
esc + b -- to get new cell below the current cell\
\
\
esc + c -- to create a copy of current cell\
esc + x -- to cut a cell\
\
\
esc + dd -- to delete a cell\
esc + z --undo deleted cell\
\
esc + c ,esc + b --- copy and paste cell below current cell
\
\
esc + o -- if we want to hide the output

In [ ]:
### mode 
* Green----> edit mode(Enter button)
* blue-----> command mode(Esc button)

## python keywords :- 
* Keywords in python are reserved words in python and cant be used as identifiers.

predefined and reserved words

first we have to import the build in module

In [ ]:
import keyword

we have to use attribute-- kwlist to print keyword

In [ ]:
print(keyword.kwlist)

In [ ]:
len(keyword.kwlist)

## python identifiers :-
* An identifier is the name given to entities like functions,variables etc.
* It helps in differentiating one entity from other.
* Correct way of defining an identifier \
 (Identifiers can be a combination of letters in lowercase (a to z) or uppercase  \
and only special chararcter allowed is _ )

rules:-\
we cannot use numbers at starting of name function,variable ..\
we cannot use any special character expect underscore (_)\
we cannot use keywords for naming

## python comments :-
- Comments can be used to explain the code for more readabilty.

use # to in single line comments\
use ''' or """ to multiple line comments\
use \ to break line or carry on in next line without error

In [ ]:
"""
print("hallo")
"""
\
'''
whatever wrote here cannot effect program
'''
print("hi")  #hallo

## python statements:-
* Instructions that a Python interpreter can execute.

print statements, Assignment statements, Conditional statements, Looping statements.

In [ ]:
# two assignment statements in a single
l = 10; b = 5

# print statement 
print('Area of rectangle:', l * b)

return statement:   we can return a value from a function when called\

del statement:      is used to delete objects/variables\

import statement:   is used to import modules\

break Statement:    The break statement is used inside the loop to exit out of the loop.\

continue Statement: The continue statement skip the current iteration and move to the next iteration.

looping statements:- \
\
if statement: It is a control flow statement that will execute statements under it if the condition is true. Also kown as a conditional statement.\
\
while statements: The while loop statement repeatedly executes a code block while a particular condition is true.\

for statement: Using for loop statement, we can iterate any sequence or iterable variable. The sequence can be string, list, dictionary, set, or tuple.\
\
try statement: specifies exception handlers.\
\
with statement: Used to cleanup code for a group of statements, while the with statement allows the execution of initialization and finalization code around a block of code.

## python variable :-
*  A Python variable is a reserved memory location to store values.
* A variable is created the moment you first assign a value to it.

a value is stored in variable when we assign a value to variable \
every variable have some unique identification adddress

* use id(variable_name) -- to get the identification address

In [ ]:
a=1
b=1
c=a+b
d = "string variable"
e = True #use True never true
print(c)
print(d)
print(e)
print (id(a))
print (id(b))
print (id(c))
print (id(d))
print (id(e))

In [ ]:
'''
id() function returns the “identity” of the object. 
The identity of an object - Is an integer
 - Guaranteed to be unique
 - Constant for this object during its lifetime. 
'''
id(a)

In [ ]:

a ,b, c ,d = 2,266,2.11,"string"
print(a)
print(b)
print(c)
print(d)

## python datatypes:-
### Numeric:-

integers,float,boolean,string,complex

type(variable_name) -- to get type of variable\
getsizeof(variable_name) -- to get size of variable \
NOTE:- to use getsiseof we have to \
\import sys

In [ ]:
# it allows you to interact with Python interpreter and operating system environment
# provides functions for system-related functionality
import sys

In [ ]:
import sys #IMP
val1=10
print(val1)
print(type (val1))
print(sys.getsizeof(val1))# size of integer object in bytes
print(val1, "is float?",isinstance(val1,float))
print(val1, "is complex?",isinstance(val1,complex))

In [ ]:
val2=10.11
print(val2)
print(type (val2))
print(sys.getsizeof(val2))
print(val1, "is float?",isinstance(val2,float))
print(val1, "is complex?",isinstance(val2,complex))

day 2:-

In [ ]:
val3= 1 + 2j
print(val3)
print(type (val3))
print(sys.getsizeof(val3))
print(val1, "is float?",isinstance(val3,float))
print(val1, "is complex?",isinstance(val3,complex))

### Boolean:-

* Boolean data type can have only two possible values true or false.

In [ ]:
b1=True # use capital T,True means 1

In [ ]:
b2=False #use capital F

In [ ]:
type(b1)

In [ ]:
isinstance(b1,int) #bcz True means 1

In [ ]:
isinstance(b1,float)

In [ ]:
isinstance(b1,str)

In [ ]:
isinstance(b1,bool)

### string:-

In [ ]:
a = "True"

In [ ]:
type(a)

In [ ]:
print(a)

In [ ]:
len(a)

string indexing:-\
\
string is a collection of elements\

\

str1="ABC"
positive index:-str1[ABC] where str1[0]=A,str1[1]=B.str1[2]=c

In [ ]:
str1 = "ABC"

In [ ]:
print(str1[0])

In [ ]:
print(str1[1])

In [ ]:
print(str1[2])

In [ ]:
print(str1[1:3])

In [ ]:
print(str1[:3])

In [ ]:
print(str1[1:])

In [ ]:
print(str1[:])

negative index:-"ABC" where str1[-3]=A, str1[12]=B, str1[-1]=C

In [ ]:
print(str1[-1])

In [ ]:
print(str1[-3:-1])

In [ ]:
print(str1[-2:-1])

In [ ]:
print(str1[-3:])

In [ ]:
print(str1[:-1])

In [ ]:
print(str1[-2],str1[-3])

In [ ]:
print(str1[-3],str1[-3:-1],str1[-3:],str1[:-2])

slicing :- [starting element:ending element],or [starting element:ending element:step]

In [ ]:
str2="ABCD  EFG"

str2="ABCD  EFG" \
where str2[0]=A,str2[1]=B,str2[2]=C ,str2[3]=D ,str1[4]= ,str2[5]= ,str1[6]=E,str=[7]=F,str2[8]=G \
str2[-1]=G,str2[-2]=F ,str2[-3]=E ,str1[-4]= ,str2[-5]= ,str2[-6]=D,str=[-7]=C,str2[-8]=B ,str2[-9]=A

In [ ]:
print(len(str2))

In [ ]:
len(str2)-1

In [ ]:
str2[len(str2)-1]

In [ ]:
print(str2[0:9:2])

In [ ]:
print(str2[-1::-1])

In [ ]:
print(str2[-9::1])

In [ ]:
str3="data is new fuel"

In [ ]:
print(str3[7:11],str3[0:4])

Update & delete string
* Strings are immutable which means elements of a
string cannot be changed once the they are assigned with
any values

In [ ]:
str4="ABC"

In [ ]:
print(str4)

In [ ]:
# str1[0:]='abc' #  we cannot replace/immuttable string but we can assign a new value to string

In [ ]:
str5= str4.replace('A','Z')

In [ ]:
print(str5) #here we are replace a string to new string

In [ ]:
print(str4)

In [ ]:
a=5
a

In [ ]:
a = 'abc'

In [ ]:
a = a.replace('a','z') # here we are assign a new value to a

In [ ]:
print(a)

In [ ]:
'data'+'science'

In [ ]:
1+2

In [ ]:
'1'+'2'

In [ ]:
s1='data'
s2='science'
s3=s1+s2

In [ ]:
s3

In [ ]:
s1='data'
s2='science'
s3=s1+' ' +s2+ " team"

In [ ]:
s3

%who :- is used to show the variables created

In [ ]:
%who

In [ ]:
'data'in s3 #in is used check

In [ ]:
'Data'in s3 #case sensitive

day 3:-

#### string functions

string partition:- search for a specific element and splits into 3 elemnts or parts

In [ ]:
"""
The partition() method searches for a specified string and splits the string into
 - The first element contains the part before the argument string.
 - The second element contains the argument string.
 - The third element contains the part after the argument string.
"""

str5 = "Natural language processing with Python and R and Java"
L = str5.partition('language') # returns tuple
L

In [ ]:
sentence="first element second element third element"

In [ ]:
L=sentence.partition('second element')

In [ ]:
L

In [ ]:
type(L)

tuple means a datastructure

In [ ]:
sentence.count('e')#counts NO OF elements in a string

In [ ]:
str6 = " abc def ghi "

In [ ]:
str6.strip() # remove white space at begining and end

In [ ]:
str6.rstrip()# removes white space at rightside /begining

In [ ]:
str6.lstrip() #removes white space at leftside/ending

lower and upper function:-converts case

In [ ]:
str6.upper()

In [ ]:
str6.lower()

startswith()-used to check whether the string startswith the required

endswith();-used to check whether the string endswith the required

In [ ]:
str6.startswith('a')

In [ ]:
str6.startswith(' ')

In [ ]:
str6.endswith(' ')

split():- returns a list as output \
list is data structure

In [ ]:
print(str6.split())

In [ ]:
print(str6.split('def'))

In [ ]:
str7="apple banana orange jack apple pineapple guava apple mango #"

In [ ]:
print(str7.split('apple'))

In [ ]:
print(str7.split('#'))

format fuction:- will place the value of the given variable into place holder'{}'

In [ ]:
a=1
b=2
c=3

In [ ]:
print("the value in order a is {} ,b is {} & c is {} ".format(a,b,c))

In [ ]:
print("the value in order b is {} ,a is {} & c is {} ".format(b,a,c))

In [ ]:
print("the value in order a is {2} ,b is {1} & c is {0} ".format(c,b,a)) \
#where{0},{1},{2} are indexes

In [ ]:
print(" last string is {}".format(str6))

typecasting-typeconverting :-
* converting one data type into another

autotypecasting:-converts automatically into single datatype in a hirachy (S>F>C>I>B) \
only lower to higher \
string > float > complex > int > bool(S>F>C>I>B)

In [ ]:
4 + 5.6 +False + True #(S>F>C>I>B)

In [ ]:
4 + 5.6 + 5j  + True

forced typecasting:- we convert lower to higher and higher to lower also

In [ ]:
a=1.23

In [ ]:
type(a)

In [ ]:
b= int(a)#higher to lower ((S>F>C>I>B))
b

In [ ]:
c= complex(a) #(S>F>C>I>B)
c

In [ ]:
d= str(a) #(S>F>C>I>B)
d

In [ ]:
e= bool(a)
e

In [ ]:
bool("")

In [ ]:
bool(" ") 
#if there is any value expect 0 or null is True

In [ ]:
bool('0')

In [ ]:
bool(0)

In [ ]:
bool(-1)

In [ ]:
int("5")

#int('five') \
we cannot convert alphabets into numbers

In [ ]:
float(False)

In [ ]:
int(5.6)+float(1)+bool(23)+1.0 # both auto and forced typecasting

In [ ]:
str(True)

## operators:-

arthmetic operators:- + ,-,*,/,%,**,//

In [ ]:
a=5
b=25
#addition
c=a+b
c

In [ ]:
#concatenate

In [ ]:
str8=str6+str7
str8

In [ ]:
#substraction

c=a-b
c

In [ ]:
#multiplication
c=a*b
c

In [ ]:
#power
c=b**a
c

In [ ]:
#division
c= b/a #25/5
c #prints qoutient

In [ ]:
c = a% b #5/25
c #print reminder

In [ ]:
c = b//a #25/5 
c # print qoutient(whole number)

comparison operator:- > , < , >= , <= , == , !=

In [ ]:
a=x=1
b=y=2
print(a>b) #greater than
print(a<b) #lesser than
print(a>=b) #greater than or equal to
print(a<=b) #lesser than or equal to
print(x==y) # equal to - false
print(x!=y) # not equal to - true

All the symbols are represented in a computer using different types of encoding such as ASCII and Unicode.

“American Standard Code For Information Interchange”. In the ASCII encoding, each character has been assigned a numeric value between 0 to 127. This numeric value associated to a character is called the ASCII value of the character. Use ord() to get ASCII value

In [ ]:
print(a==b)# equal to 
print(a!=b)# NOT equal to

In [ ]:
str6 > str7

In [ ]:
ord('a') 
#to find ascii value of a charecter

In [ ]:
ord('b')

In [ ]:
a>b

In [ ]:
a='abc'
b='ABC'
a==b

logical operators:-\
and : when both conditionbecom true then the statement will true 

or  : if any condition use become true then the statement will true 

not : the is not True

In [ ]:
a>b and b>a
#if both

In [ ]:
a>b or b>a
#if any

In [ ]:
a>b

In [ ]:
not a>b

day 4:-

Bitwise operation

In [ ]:
x=18
y=6
print('bitwise AND operation - {}'.format(x&y))
print('bitwise OR operstion - {}'.format(x|y))

In [ ]:
x&y
# x-100010 
# y-00110 
# = 00010

# conditional statements
### if statement:-

* A Python if statement evaluates whether a condition is equal to true or false. 
* The statement will execute a block of code if a specified condition is equal to true. Otherwise, the block of code within the if statement is not executed

intentetion:- 4 white spaces or 1 tap \
it is importent to use proper intentetion while doing the condtional statements

syntax \
if condition: \
[intentetion]statement()

In [ ]:
x=4
if x==4:
    print('x is equal to 4')
print('end ')

In [ ]:
x=4
if x==4: 
    print('x is equal to 4') #if the condition is True 
else :
    print('end  ') #if the condition is False

if(condition):\
[intentetion]statement\

else: \
[intentetion]statement

In [ ]:
x=3
if x==4:
    print('x is equal to 4')
elif x==3:
    print('x is equal to 3 ')
else :
    print('end ')

if(condition):
    statement
elif(condition):
    statement
elif(condition):
    statement
else:
    statement

In [ ]:
x=2
if x==4:
    print('x is equal to 4')
# print if condition is True
elif x==3:
    print('x is equal to 3 ') 
# print if previous condition is false and current condition is true 
elif x==2:
    print('x is equal to 2 ')
# print if previous condition is false and current condition is true 
elif x==1:
    print('x is equal to 1 ')
# print if previous condition is false and current condition is true 
elif x==0:
    print('x is equal to 0 ')
# print if previous condition is false and current condition is true 
else :
    print(' x not equal to 1,2,3,4')
# print if all previous conditions is False

nested if loop :- \
if(condition): \
\    statement \
\    if(condition):
\        statement
\        if(condition):
\            statement

In [ ]:
x=3
if(x>1):
    print('iam in 1st if')
    if(x>2):
        print('iam in 2nd if') 
        #print if previous condition is true and current condition is true 
        if(x>3):
            print('iam in 3rd if')
            #print if previous condition is true and current condition is true 
            if(x>4):
                print('iam in 4st if')
                #print if previous condition is true and current condition is true 
else :
    print('iam in else ')

In [ ]:
x=3
if(x>1):
    print('iam in 1st if')
    if(x>5):
        print('iam in 2nd if') 
        #print if previous condition is true and current condition is true 
    if(x>4):
        print('iam in 3rd if')
            #print if previous condition is true and current condition is true 
    if(x>3):
        print('iam in 4st if')
                #print if previous condition is true and current condition is true 
else :
    print('iam in else ')

input():- used to input values from user

In [ ]:
a=input("enter a number ")
#input function can only input string values

In [ ]:
print(a)

In [ ]:
type(a)

In [ ]:
b=int(input("enter a number "))
#in order to use input function to input another data type we need to do forced typecasting

In [ ]:
print(b)

In [ ]:
type(b)

In [ ]:
x = int(input('enter any number'))
if x>0:
    print('x is +ve')
elif x<0:
    print('x is -ve')
else :
    print('x is zero')

In [ ]:
x = int(input('enter any number'))
y = int(input('enter any number'))
if x==y:
    print('x is equal to y')
elif x<y:
    print('x is lesser than y')
else :
    print('x is greater than y') 
if x>0:
    print('x is +ve')
elif x<0:
    print('x is -ve')
else :
    print('x is zero')
if y>0:
    print('y is +ve')
elif y<0:
    print('y is -ve')
else :
    print('y is zero')

## pythons packages

software which holds certain functionalities 
packeges is collection of modules(python file) \
modules are collections of submodules(contains functions for a task )\
submodules are collection of function(code for a specific task)\
each funtions contain certain artibutes (specific value)

contain modules and submodules \
eg,
 -    from datetime import date

#### datetime packeges
contain modules related to time and date\
eg,\
datetime library:- date,time,datetime,timedelta

1)date – An idealized naive date, assuming the current Gregorian calendar always was, and always will be, in effect. Its attributes are year, month and day.


2)time – An idealized time, independent of any particular day, assuming that every day has exactly 24*60*60 seconds. Its attributes are hour, minute, second, microsecond.

3)datetime – Its a combination of date and time along with the attributes year, month, day, hour, minute, second, microsecond.

4)timedelta – A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.

In [ ]:
from datetime import date
d= date(2023,7,5) # atributes(year,month,day)

In [ ]:
print(d)

In [ ]:
type(d)

In [ ]:
d

In [ ]:
d.day

In [ ]:
d.month

In [ ]:
d.year

In [ ]:
#for getting current date use 
#date.today()
print("today is ",date.today())

In [ ]:
today1=date.today()

In [ ]:
today1.isoweekday()#monday=1,tuesday is 2,....

In [ ]:
from datetime import datetime as dt #imprting module datetime from datetime library as dt

In [ ]:
a=dt.now() # now()can return current date and time
a# (year,month,day,hour,minute,second,microsecond)

In [ ]:
a.year

In [ ]:
a.month

In [ ]:
a.day

In [ ]:
a.time()

In [ ]:
a.hour

In [ ]:
a.minute

In [ ]:
a.second

In [ ]:
a.microsecond

In [ ]:
type(a)

day 5:-

In [ ]:
%who

In [ ]:
a.date()

In [ ]:
date1=dt.now()

In [ ]:
print(dt.date(date1))

In [ ]:
print(dt.time(date1))

In [ ]:
#time submodule
from datetime import time

In [ ]:
my_time1=time(1,2,3)

In [ ]:
my_time1

In [ ]:
my_time1.microsecond

In [ ]:
my_time2=time(4,3,2,100)

In [ ]:
my_time2

In [ ]:
my_time2.microsecond

In [ ]:
# date.today()+7 we cant't add other data types to date module,
#we have to add timedelta module to do any type of operations or manipulation

In [ ]:
from datetime import timedelta

In [ ]:
current_date=date.today()

In [ ]:
#calculating future dates

In [ ]:
future_date_after_2week=current_date+timedelta(14)

In [ ]:
current_date

In [ ]:
future_date_after_2week

In [ ]:
future_date_after_2week=current_date+timedelta(weeks=2)

In [ ]:
future_date_after_2week

In [ ]:
future_date_after_2years=current_date+timedelta(730)

In [ ]:
future_date_after_2years

In [ ]:
past_date_before_2years=current_date-timedelta(730)

In [ ]:
past_date_before_2years

In [ ]:
dob=date(2001,8,28)

In [ ]:
age=date.today()+timedelta(5000)

In [ ]:
age

In [ ]:
((age-dob)/365)

In [ ]:
age.year

In [ ]:
age1=age-dob

In [ ]:
age1

In [ ]:
age7=age1/365

In [ ]:
age7.days

In [ ]:
age7

In [ ]:
dob.year

In [ ]:
age.year - dob.year

## python data structures :- 
Data structures organizes and stores the data in an efficient manner so that they can be modified and accessed easily.
#### list:-

\
List[ ] -mutable,indexed,ordered,duplicate values,heterogeous(mixed type)\

* 1)	List is a sequence of items.
* 2)	We can have different data types under a list.E.g we can have integer, float and string items in a same list.
* 3) List is indexed, ordered
* 4) List can have duplicate values
* 5) List is mutable - editable (change the values in list)

In [ ]:
#list
list1=[1,2,3.0]
list2=list((4,5.0,'abc',True))
print(list1,list2)
type(list1)

In [ ]:
list2[2]='ABC'
list2

In [ ]:
list1+list2

In [ ]:
#empty list:-
empty_list=[]
empty_list

In [ ]:
type(empty_list)

nested list:- we use nested list also

In [ ]:
list3=['data',25,[50,100],[200,300]]
list3

In [ ]:
list3[2]

In [ ]:
len(list3)

In [ ]:
list4=[3,'yy',55]
list4

join list:-

list4=list1+list2+list3[0:3]
list4

extend():-use to extend list with other list

In [ ]:
list2.extend(list1)#list2 will extend

In [ ]:
list2

append():-we can add one element at end in a list

In [ ]:
list4.append("end")
list4

insert ():- we can add any element to in specific index

In [ ]:
list4.insert(0,'start')
list4

extend():- we can add multiple elements at end

In [ ]:
list4.extend((0,1,'end'))
list4

we can remove element by 
remove():- we can remove  specific element 
pop():-we can remove  element at specific index
del:-we delete element using this command

In [ ]:
list6=[0,1,2,3,4]

In [ ]:
list6.remove(4)
list6

In [ ]:
list6.pop(2)

In [ ]:
list6

In [ ]:
del list6[0]

In [ ]:
list6

day6:-

In [ ]:
%who

list membership:-

in :- is used to check whether a specific element present or not

In [ ]:
list1

In [ ]:
1 in list1

In [ ]:
'one' in list1

In [ ]:
3 in list1

reverse():- used to reverse or sort element in a list

In [ ]:
list1[::-1]

In [ ]:
list1

In [ ]:
list1.reverse()

In [ ]:
list1

sort():- use to change a list in iether ascending or descending order \
    *default in ascending order \
categorial-a,b,c,d \
numerical- 1,2,3 \
in order to get descending order we have to use * reverse=True \
we cant sort a list with multiple datatypes

In [ ]:
list1.sort()

In [ ]:
list1

In [ ]:
list1.sort(reverse=True)

In [ ]:
list1

all() \
    True - if all elements in a list are true\
    False- if any elements in a list is false\
any()\
    True:-if any elements in a list are true\
    False- if all elements in a list is false\

In [ ]:
all(list1)

In [ ]:
any(list1)

#### tuple
Tuples:- similar to list but elements immutable,indexed,ordered,accepts duplicate,uses () & tuple() \
preferable when we do not want to change the data over time \
iterating over the element of a tuple is faster over list \
we can use different data types in tuple\
uses normal bracket\
hashable\

In [ ]:
tuple1=()#empty tuple
type(tuple1)

In [ ]:
tuple2=(1,2,3)
type(tuple2)

In [ ]:
tuple3=tuple(['four','five',[6,5],[7,8] ])
tuple3

In [ ]:

tuple4=tuple1+tuple2+tuple3
len(tuple1+tuple2+tuple3)

In [ ]:
tuple3

In [ ]:
tuple3[2]

In [ ]:
tuple3[2][0]

In [ ]:
tuple3[2][1]

In [ ]:
tuple4[:]

In [ ]:
tuple4[0:]

In [ ]:
tuple4[:0]

In [ ]:
tuple4[0:1]

In [ ]:
tuple4[-7:]

In [ ]:
tuple4[:-7]

In [ ]:
tuple4[::-1]

In [ ]:
# del tuple4 :-deletes tuple4

count():-used to count how many times a element occurs in the tuple

In [ ]:
tuple4

In [ ]:
tuple4.count('five')

In [ ]:
tuple4.count(6)

In [ ]:
tuple4.index(3)

In [ ]:
tuple4.index([6,5])

In [ ]:
5 in tuple4

In [ ]:
[6,5] in tuple4

we cannot use sort() in tuple hence it is immutable

In [ ]:
sorted(tuple2)

In [ ]:
sorted(tuple2,reverse=True)

In [ ]:
tuple2

#### set :-

use {} \
immutable,unindexed,unordered,not allow duplicate elements\
can have multiple data types \
hashable\

In [ ]:
set1={2,3,1,True,'a',3.1}
set1

In [ ]:
type(set1)

In [ ]:
set0={} # we can get a dectionary whenever we uses empty set
type(set0)

In [ ]:
set2={4,5,'six',(7,8)}
set2

In [ ]:
set2.add(9)#we can add a element to set
set2

In [ ]:
set2.update([1,2])#we can add a element to set
set2

In [ ]:
set2.remove('six')
set2

In [ ]:
set2.discard(9)# discard function dont show error even if the element is not pressent
set2

day 7:-

## python loops

#### while loop:-

while loop is used to execute a block statements

In [ ]:
# simple while loop
i=-10
while i<10:
    print('while condition is true',i)
    i+=1 # i==>i+1

In [ ]:
#while loop with break
# break is used to stop the loop even if while condition is true
i=-10
while i<10:
    print('while condition is true',i)
    if i==4:
        break
    i+=1 # i==>i+1

In [ ]:
# while loop with continue statement
# break is used to stop the loop even if while condition is true
i=-10
while i<10:
    i+=1 # i==>i+1
    
    if i==4:
        continue
    print(i)
    print('while condition is true',i)

In [ ]:
# while loop with else statement
i=-10
while i<10:
    print('while condition is true',i)
    i+=1 # i==>i+1
else:
     print('while condition is false')
print('out of loop')

#### for loop:-

for loops are used to loop through an iteration object \
(like a list,tuple,set ...)
 and perform same function for each element

In [ ]:
list7= [1,2,3,4,5,0]
a=(1,2,3,4,5)

In [ ]:
len(list7)

In [ ]:
for a in list7:
    print('i am ',a,'list')

In [ ]:
f={'a':1,'b':2,'c':3}

In [ ]:
g=0
for g in f:
    print(f)

day 8:-

In [ ]:
%who

In [ ]:
s=('data science')
for i in s:
   print(i)

In [ ]:
for ele in list7:
    d=ele+2
    print(d)
print('done with all the elements')

In [ ]:
fruits={1:'a',2:'b',3:'c'}
for al in fruits:
    print(al)

In [ ]:
fruits={1:'a',2:'b',3:'c'}
for al in fruits.values():
    print(al)

In [ ]:
set3={1,2,3,'a',True}
for i in set3:
    print(i)

In [ ]:
tuple5=(1,2,3,'a',True)
for i in tuple5:
    print(i)

range() :- range(start,end,step) or range(lower limit,upper limit,step or integrator)\
used to generate a range of values \
range(end)\
range(start,end) \
range(start,end,step) \
default step will be 1 \

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(-10,10):
    print(i)

In [ ]:
for i in range(-10,10,5): #end range value will be excluted
    print(i)

In [ ]:
#nested for loops
list8=['a','b','c','d','e']
list9=[1,2,3,4,5]
for i in list8:
    for j in list9:
        print(i,j)

In [ ]:
#nested for loops
for i in range(3):
    for j in range(3):
        print(i,j)

In [ ]:
#nested for loops
list10=['maths','eng','chem',]
list11=['student name1','student name2','student name3,']
for i in list10:
    for j in list11:
        print(i,j)

In [ ]:

    for j in range(10):
        if(j%2==0):
            print(j,' is even')
        else:
            print(j,' is odd')

In [ ]:
 for j in range(10):
        i=j*j
        print(i,' is square of',j)

### function:-

function:-a block of code with specific task which can be called whenever needed\
1-build-in function:-predefined \
2-user-defined function:-we defined for ourselves\
3-anynymous function:-defined without function name,called upon whenever needed,(lamda)
 
*we define a function using def statement*
docstring is used to give user information about a funtion.
we can see docstring by (shift+tab) or fuctionname._doc_

In [ ]:
import math
#function without any Arguement & return statement
def sr1():
    '''docstring:-function without any Arguement & return statement'''
    a=int(input("enter a number"))
    root=math.sqrt(a)
    print(root)

In [ ]:
sr1()

In [ ]:
import math
#function with Arguement % return statement
def sr2(num):
    '''function with Arguement % return statement'''
    root=math.sqrt(num)
    return(root)

In [ ]:
num=100
sr2(num)

In [ ]:
def name():
    a=(input("enter a number"))
    b=(input("enter a number"))
    c=(input("enter a number"))
    print(a,b,c)

In [ ]:
name()

In [ ]:
# function with argument and no return satetement
def area_of_circle_with_radius(r):
    area=3.14*r*r
    print(area)

In [ ]:
area_of_circle_with_radius(6)

In [ ]:
area_of_circle_with_radius(10)

In [ ]:
##function without any Arguement or any return statement
def area_of_circle_with_radius1():
    r=int(input('enter a radius'))
    area=3.14*r*r
    print(area)

In [ ]:
area_of_circle_with_radius1()

In [ ]:
#function without any Arguement and with any return statement
def squareofnum():
    r=float(input('enter a number'))
    return r**2

In [ ]:
squareofnum()

lambda function :-
is an anonymous function.\
can have any number of arguments but only one expression. the expression is evaluated and returned\
we can use lambda function for single line expression that can be used for short time

variable name = lambda argument, expression

In [ ]:
def add(a):
    res=a+10
    return res

In [ ]:
addition=lambda a:a+10

In [ ]:
print(add(8))
print(addition(8))

In [ ]:
product =lambda a,b:a*b

In [ ]:
print(product(10,10))

filter function:-
filtered out the elements in the given sequance by function
filter(function_name,sequance)

In [ ]:
def fun1(variable):
    vovals=['a','e','i','o','u']
    if (variable in vovals):
        return True
    else:
        return False
#sequence
seq=['g','e','f','h','u','i','a']
#using filter function
filtered=filter(fun1,seq)#it takes 2 arguments:a function to

In [ ]:
list(filtered)

In [ ]:
filtered # cannot return the filtered values \
#so we have to use list,tuple ... to see the filtered elements

In [ ]:
def fun2(variable):
    
    if (variable%2==0):
        return True
    else:
        return False

num2=[1,2,3,5,78,45,34,67,553,34]
#using filter function
filtered=filter(fun2,num2)
print(list(filtered))
for i in filtered:
    print(i)

In [ ]:
num3=[1,2,3,5,78,45,34,67,553,34]
result1=filter(lambda x:x%2 !=0,num3)
print('odd numbers',list(result1))
result2=filter(lambda x:x%2 ==0,num3)
print('even number',list(result2))

day 9:-

In [ ]:
%who

map():-
map(user_def_function,arguments)

In [ ]:
#RETURN double of n
def double2(n):
    return n+n
#we double all number using map()
numbers1 = (1,2,3,4)
result = map(double2,numbers1)# it take 2 arguments: a function and corresponding elements,apply on an iterable

print(list(result))

In [ ]:
#add two lists using map and lambda
numbers2 = [1,2,3]
numbers3 = [4,5,6]
result= map(lambda x, y:x+y ,numbers2,numbers3)
print(list(result))

In [ ]:
#list of strings
list10=['abc','def','123']
test = map(list,list10)
list(test)

Reduce function:-
reduce(function,sequence)\
this function is defined in "functools" module\
used in cumulative sequence,this will take 2 cummalative elements in sequence and apply  function\
used to reduce a sequence to single value

In [ ]:
# import functools for reduce()
from functools import reduce
# initializing list
list11=[1,3,5,6,2]
#using reduce to comutr sum of list
print("the sum of the list element is : ",end="")
print(reduce(lambda a,b: a+b,list11))
print("the biggest element of the list element is : ",end="")
print(reduce(lambda a,b:a if a>b else b,list11,))

a if a>b else b \
give a if a>b or \
give b if b>a

# END